server:
  port: 8081
spring:
  cloud:
    config:
      server:
        git:
          default-label: Gateway
          uri: https://github.com/ingrid-inga/patagoniaTest-main.git
          search-paths: config-data
  application:
    name: config-service
